<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">New Organisation</h3>
  </div>
  <div class="panel-body">
    <%= render 'form', organisation: @organisation %>

    <%= link_to 'Back', organisations_path %>
  </div>
</div>
